* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: goldenrod;
}

#main{
    text-align: center;
    text-align: center;
}

#main .link {
    color: green;
    text-decoration: none;
    font-size: larger;
}

#imagen {
    text-align: center;
}

div img {
    height: 400px;
    width: 600px;
}

.campeones h2 {
    text-align: center;
    color: green;
    text-decoration: underline;
}

.campeones .argentinos {
    color: aqua;
}

.campeones .brasileros {
    color: yellow;
}

.campeones .franceses {
    color: blue;
}

.campeones .espanoles {
    color: red;
}

.campeones .alemanes {
    font-weight: bold; 
}

.campeones .italianos {
    color: #37b610;
}

.campeones .inglaterra {
    color: whitesmoke;
}